<div class="success-container content">
  <div class="success-header flex fd-col">
    <div class="success-header-icon"></div>
    <div class="success-divider"></div>
  </div>
  <div class="success-main-container flex jc-c fd-col">
    <div class="icon-container flex jc-c">
      <div class="success-icon"></div>
    </div>
    <div
      class="
        mapfre-pl-sm mapfre-pr-sm mapfre-fs-l mapfre-color-dark mapfre-mt-m
        fw-500
        text-center
        success-title
      "
    >
      Tu consulta ha sido enviada correctamente
    </div>
    <div
      class="
        mapfre-pl-sm
        mapfre-pr-sm
        mapfre-fs-s
        mapfre-color-medium-dark
        mapfre-mt-sm
        text-center
        success-message
      "
    >
      Nos pondremos en contacto contigo lo antes posible.
    </div>
    <div *ngIf="params?.btnOkText" 
    class="success-btn-container flex jc-c">
      <button (click)="common.redirectTo(params.btnOkUrl)"
       class="success-primary-btn"
      [innerHTML]="params?.btnOkText">
      </button>
    </div>
  </div>
  <div class="success-divider"></div>

  <div class="success-footer flex ai-e">
    <div class="flex w-100 text-center jc-c">
      <div 
      class="mapfre-fs-s 
      mapfre-mb-l mapfre-mt-s 
      mapfre-color-medium-dark
      success-footer-date">
        MAPFRE © {{date}}
      </div>
      <div class="success-triangle"></div>
    </div>
  </div>
</div>

